html, body {
    height: 100%;
    color: black;
    text-decoration-color: white;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}div.container {
     display: table-cell;
     vertical-align: middle;
}

div.content {
    display: table-cell;
    vertical-align: middle;
 }