html, body {
    height: 100%;
    color: black;
    text-decoration-color: white;
}

html {
    display: table;
    margin: auto;
    color: black;
    text-decoration-color: white;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: black;
    text-decoration-color: white;
}

.container {
     display: table-cell;
     vertical-align: middle;
    color: black;
    text-decoration-color: white;
}

.content {
    display: table-cell;
    vertical-align: middle;
    color: black;
    text-decoration-color: white;
 }