body {
    background-color: #f7f5f2;
    height: 100%;
    width: 1000px;
    padding: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: #2F0000;
    text-decoration: none;
}

form, ul {
    list-style-type: none;
    padding: 0;
}

ul {
    position: absolute;
    left: 200px;
}

header {
    background-color: #e8e0d9;
}

img#Logo {
    height: 75px;
    width: auto;
}

nav {
    background-color: #e8e0d9;
    height: 15px;
    padding: 5px;
}

div.main {
    background-color: #e8e0d9;
    width: 1000px;
    height: 600px;
    display: inline-block;
    text-align: center;
    position: relative;
}

div.left {
    float: left;
    left: 150px;
    height: 500px;
    width: 400px;
}

/* REGISTER FORM*/
form#register {
    display: inline-block;
    left: 150px;
    margin-right: auto;
    text-align: left;
    width: 400px;
    height: 500px;
}

form#register, ul, li {
    padding: 10px;
}

input.registerInput, select, textarea {
    position: absolute;
    left: 150px;
}

span.required {
    font-size: 10px;
}

input.radio {
    left: -20px;
    margin-top: -15px;
}

label#male {
    position: fixed;
    display: inline-block;
    margin-left: 85px;
}

label#female {
    position: fixed;
    display: inline-block;
    margin-left: 165px;
}

input.date {
    margin-top: -20px;
}

#hobbies {
    margin-top: -40px;
    font-weight: bold;
}

ul.checkboxes {
    text-align: left;
    margin-top: 105px;
    padding: 10px;
    left: 600px;
    width: 200px;
    height: 200px;
}

a#register {
    position: fixed;
    display: inline-block;
    margin-top: 242px;
    margin-right: auto;
    text-align: left;
    width: 60px;
    height: 25px;
}

input#submit {
    margin-top: 550px;
    margin-left: 250px;
    width: 60px;
}

button#cancel {
    margin-top: 550px;
    margin-left: -350px;
    width: 60px;
}

/*LOGIN FORM*/
form#logInForm {
    display: inline-block;
    left: 150px;
    margin-right: auto;
    text-align: left;
    width: 400px;
    height: 500px;
}

ul#logInForm {
    left: 300px;
}

label.logInInput {
    margin-top: -20px;
}

a#LogIn {
    float: right;
    padding: 10px;
}

#buttonLogIn {
    margin-top: 35px;
}